

.div-father{
    display: flex;
}

.colum1{
    background-color: cadetblue;
    text-align: center;
    width: 60%;
}
.fotito{
    margin-top: 20px;
}

.colum2{
    text-align: center;
    

}
.nombre{
    display: flex;
    background-color: lightblue;
    height: 100px;
    justify-content: center;
}
.infoperson{
    margin: 10px;
}

